nav {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
    position: relative;
    margin: 0;
    padding: 10px;
    width: auto;
    background-color: rgba(43, 12, 43 , 0.75);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 2.5em;
    letter-spacing: 8px;
  border-bottom: 4px black;
  box-shadow: 5px grey;
}

header {
    background-color: #0D0D0D;
    background-image: url("../images/darkforest.jpg");
    /*background-size: contain;
    background-position: bottom;
    border-bottom: 1px solid #000;
    position: relative;
    width: 1600px;
    height: 250px;
    z-index: 10;
    margin: 0;
    padding: 10px;*/
}

body {
  background-color: rgba(43, 12, 43 , 0.75);
  min-width: 1000px;
  max-width: 1600px;
}

html {
  background-image: url("../images/spooky-blue.jpg");
  /*background-size:auto;
  background-repeat: no-repeat;*/
  background-color: rgba(43, 12, 43, 1);
  max-width: 1600px;
}

img {
    width: 100%;
    height: auto;
}

header, footer {
    background-color: #0D0D0D;
    text-align: center;
    min-width: 500px;
}

h2, p, .todo {
    margin: 35px 50px;
}

html, body {
    margin: 0;
    padding: 0;
  }

header h2{ /* Whimsically Creepy*/
    color: blanchedalmond;
    font-family: "Homemade Apple", sans-serif;
    position: relative;
    padding-right: 1fr;
    background-color: rgba(43, 12, 43, 0);
    
}
h1, h2, p, html {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    background-color: rgba(43, 12, 43, 0.0);
}

h1 {
    /*font: none none bold 24/2;*/
    font-family: "wildwood", sans-serif;
    font-size: 24px;
}

h2 {
    font-size: 18px;
    background-color: rgba(43, 12, 43 , 0.0);
    margin:0;
    padding-left: 50px;
    padding-top: 10px;

}

p {
    font-size: 14px;
    line-height: 1.75em;
    padding: 5px 50px;
      padding-bottom: 50px;
  margin:0;
}

footer {
   /* margin-top: 50px;*/
    background-color: rgba(43, 12, 43 , 0.75);
}

@font-face {
    font-family: "wildwood";
    src: url("https://www.wfonts.com/download/data/2016/03/01/wildwood/JFWilwod.ttf") format("truetype");
    src: url("../fonts/JFWilwod.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "bosque-encantado";
    src: url("https://dl.dafont.com/dl/?f=bosque_encantado")
    src: url("..fonts/BosqueEncantado.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v9/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--Sjxbc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Homemade Apple Regular'), local('HomemadeApple-Regular'), url(https://fonts.gstatic.com/s/homemadeapple/v10/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.title {
    font-family: "Fredericka the Great", sans-serif;
    text-align: start;
    display: block;
    font-size: 48px;
    color: #D9043D;
    padding-left: 30px;
    padding-top: 8px;
    background-color: rgba(43, 12, 43 , 0.0);
}

.subtitle {
    color: blanchedalmond;
    font-family: "Homemade Apple", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    padding-right: 50px;
    padding-bottom: 10px;
  margin:0;
    text-align: right;
    background-color: rgba(43, 12, 43, 0);
}

#swiff {
    height: 50px;
    width: 50px;
    float: left;
    padding: 1fr;
}

footer span {
    position: relative;
    float: left;
    padding: 10px;
}

footer figure {
  background-color: rgba(43, 12, 43, 0.75);
  z-index: 10;
}

a, a:visited {
    color: antiquewhite;
    text-decoration: none;
  }

a:hover {
  color: #d9043d;
}

.todo {
  margin: 0;
  padding-bottom: 50px;
  border-bottom: 2px antique-white;
}