/* RESET CSS */
/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/


  /*************************/
 /*** MOBILE CSS STYLES ***/
/*************************/
@media only screen and (max-width: 860px) {
  header, footer, main, body {
        float: none;
        width: auto;
        max-width: 100%;
        height: auto;
        margin: auto;
        margin-top: 50px;
    }
  html, body {
    box-sizing: border-box;
  }

  /*HTML*/
    html {}
    h3, p, a {
        font-size: 2em;
    }
    p {
/*    font-size: 1.5 em;*/
/*    padding: 0px 2em;*/
/*    width: 350px;*/
  }
    h2 {
/*        line-height: 2em;*/
        font-size: 2.5em;
/*        padding-left:1.5 em;*/
    }
  
  
  /*Body*/
    body {
      background-image: url(../images/alone.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      margin-top: 0;
      top: 0;
  }

  
  /*Nav*/
    .desktop-nav{
      display: none;
    }
    .mobile-nav {
      background-color: rgba(26, 7, 26, 0.9);
      display: block;
      position: absolute;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 85px;
      box-shadow: antiquewhite 0px 2px 10px;;
    }
    #dropdown-content {
      display: none;
      position: relative;
      top: 23.5px;
      font-size: 1.5em;
      z-index: 1000;
      background-color:rgba(26, 7, 26, 0.6);
      box-shadow: antiquewhite 0px 1px 17px;
    }  
    #dropdown-content a {
      font-family: "Tulpen One";
      letter-spacing: 6px;
      font-weight: bold;
      text-align: center;
      color: antiquewhite;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      z-index: 11;
      background-color:rgba(26, 7, 26, 0.9);
      margin: 10px;
      padding: 10px 50px;
    }  
    .dropbtn:hover #dropdown-content {
      display: block;
      z-index: 11;
      background-color:rgba(26, 7, 26, 0.6);
      padding: 5px 0;
    }
    .dropbtn {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 17.5px;
    right: 17.5px;
  }
    .dropbtn img{
      filter: invert(100%);
      width: 50px;
  }  
    button {
      background: transparent;
      border: none;
        z-index: 500;
      width: 50px;
      height: 50px;
    }
    nav a {
          font-size: 1.5em;
      }
      .title, .subtitle {
      margin: 0;
      padding: 0;
      text-shadow: black 3px 3px 3px;
      text-align: center;
      margin: auto;
    }  
  .title {
    font-size: 30px;

  }
  .subtitle{
    font-size: 0.5em;
  }
  #mobile-logo {
    position: relative;
    top: 16.5px;
    width: 45%;
    margin: auto;
  }
  
  
  /*Header*/
  

    .subtitle, .subtitle a {}
    .subtitle a {
      font-size: 2em;
    }
    header, .title, .subtitle {
      width: auto;
      max-width: 100%;
    }
  header {
    display: none;
    background-size:cover;
    background-image: none;
  }

  /*Main*/
    main {
      min-height: 100vh;
      overflow: hidden;
      display: block;
      position: relative;
      top: 75px;
      background-color: rgba(43, 12, 43 , 0.65)
    }


  
  
  /*Footer*/
    footer {
      position: absolute; 
      width: 100%;
      height: 75px;
      box-shadow: antiquewhite 1px 0 12px;
      margin-top: 0px;
      }
    .edit-by span{
      display: none;
    }  
    .edit-by a {
      font-size: 1em;
    }  
    .edit-by:hover span {
      display: inline-block;
      /* display: none; */
      position: absolute;
      font-size: 1.7em;
      padding: 0 25px 0 15px;
      background-color:rgba(26, 7, 26, 0.9); 
      z-index: 25;
    }
    .edit-by, .social-media {
      position: absolute;
      bottom: 0;

    }
    .edit-by {
      display: inline-block;
      left: 0px;

    }
    .social-media {
      display: block;
      right: 25px;
    }
  
  
  /*Typography*/
    html, body {
    font-size: .9em;
    width: 100%;
    }
  
  
  /*********/  
 /*CONTENT*/
/*********/
  
  /*Home*/
    
/*    #latest-episode {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    background-size: 400px;*/
/*    }*/
    div#latest-episode {
      display: none;
      margin: auto;
      background-repeat: no-repeat;
      width: 100%;
      padding: 0;
      transform: scale(.75)
    }
    #latest-title {
    top: 5px;
    font-size: 2em;
    }
    #player-bar {
      max-width: 450px;
  }
  #news {
    margin-bottom: 50px;
  }
  
  /*About*/
    .manda, .betty{
      margin: auto;
      padding: 0;
      width: 100%;
    }  
  .manda-img, .betty-img {
    display: block;
    float: none;
    margin: 25px auto;
    padding: 0;
  }
    .manda-text, .betty-text {
      margin: auto;
      padding: 0;
    }  
    .about-her, .about-me {
      padding: 25px 50px;
      margin: 0;
    }
  .about-me {
    padding-bottom: 100px;
  }
  
  
  
  /*Podcast*/
    .podcast a {
    font-size: 1em;
  }  
    .podcast {
    width: 95%;
  }
  .podcast iframe {
    width: 72%;
  }
    

  /*Submit*/
     #story {
      padding: 10px;
    }  
    .quote-story {
      margin: 25px 0;
      padding: 0 0 150px 0;
    }  
    .quote-story, .overlap, .submit-box, .podcast,.submit-box textarea {
      width: 100%;
    }  
    .submit-box {
      padding: 0;
      margin: 50px auto;
      width: 100%;
      max-width: 470px;
    }  
    .submit-box textarea{
      font-size: 2em;
      max-width: 470px;
    }  
    .submit-box span {
      font-size: 1.5em;
    }

  
  /*Merch*/
    .construction {
    display: none;
    width: 300px;
    margin: auto;
  }
}

@media only screen and (max-width: 415px) {
      div#latest-episode {
/*      width: auto;*/
      margin: auto;
      background-repeat: no-repeat;
      max-width: 100%;
/*    height: 100%;*/
      transform: scale(.5);
    }
  #mobile-logo {
    margin-left: 15px;
  }
      html, body {
    font-size: .9em;
    width: 100%;
    }
  
  .social-media {
    transform: scale(.75);
    margin: auto;
    float: none;
    display: block;
    vertical-align: middle;
    bottom: 20.5px;
  }
  
  .edit-by {
    display: none;
  }
  
  .overlap {
    display: block;
    position: relative;
    margin: 25px auto;
    padding-bottom: 0;
    display: block;
    position: relative;
/*    padding: 0;*/
  }
  .quote-story {
    margin-top: 25px;
    padding-bottom: 75px;
/*    padding-bottom: 100px*/
    }
  p#story {
    padding-bottom: 50px;
  }
  input.checkbox {
    position: relative;
    display: block;
    margin: 5px auto;
/*    left: 20px;*/
  }
  h2#overlap.overlap {
    padding-bottom: 25px;
/*    top: 0;*/
/*    bottom: 0;*/
  }
  .permission {
    height: 50px;
  }
  .permission span {
    padding: 0;
    position: relative;
    font-size: 1.2em
/*    display: inline;*/
/*    float: left;*/
  }
  
  main{
    margin: 0;
    padding: 30px 0;
  }
  h2 {
    font-size: 2.5em;
    text-align: center;
    padding: 0;
  }
  p,p#story,.manda-text, .betty-text {
    padding: 30px 30px;
    font-size: 1.6em;
  }
  .about-her, .about-me {
    padding: 25px 0px 100px;
  }
  h3, p, a {}
}