/***** NAV/HEADER *****/
.desktop-nav {
    text-transform: uppercase;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgba(30, 10, 30 , 0.9);
    color: antiquewhite;
    font-family: "Tulpen One", Helvetica, sans-serif;
    word-spacing: 2em;
    letter-spacing: 10px;
    border-bottom: solid 1px #3c1642;
    box-shadow: 5px grey;
    position:relative;
    display: block;
    top: 0;
    height: 25px;
    z-index: 15;
}

.mobile-nav {
  display: none;
}

header {
    background-color: #0D0D0D;
    background-image: url("../images/alone.jpg");
    background-attachment: scroll;
    background-position: center top;
    width: 100%;
    position: relative;
    /*margin: auto;*/
    height: 175px;
    color: #0d0d0d;
    padding: 0;
    border-bottom: solid 2px #0d0d0d;
    margin-bottom: 50px;
    display: block;
/*    margin: 20px;*/
/*    min-width: 970px;*/
    max-width: 900px;
    
    /*width: 8em*/
    /*background-size: contain;
    background-position: bottom;
    border-bottom: 1px solid #000;
    position: relative;
    width: 1600px;
    height: 250px;*/
    z-index: 10;
   /* margin: 0;
    padding: 10px;*/
}

.title {
    font-family: "Fredericka the Great", sans-serif;
    text-align: start;
    display: block;
    font-size: 48px;
    color: #D9043D;
    padding-left: 30px;
    padding-top: 8px;
    background-color: rgba(43, 12, 43 , 0.0);
    font-weight: normal;
    text-shadow: black 3px 3px 3px;
}

.subtitle {
    color: blanchedalmond;
    font-family: "Homemade Apple", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    padding-right: 50px;
    padding-bottom: 10px;
    margin:0;
    text-align: right;
    text-transform: capitalize;
    background-color: rgba(43, 12, 43, 0);
}



/***** BODY *****/


body {
  background-color: rgba(43, 12, 43 , 0.75);
/*   max-width: 1300px; */
/*  top: 14px;*/
  top: 40px; 
  width: 100%;
  position: relative;
  display: table;
  vertical-align: middle;
  /* min-width: 900px; */
   max-width: 900px; 

}

main {
  position: relative;
  /* min-width: 970px; */
  /* max-width: 1300px; */
}

html {
  background: url("../images/foggy.jpg") no-repeat center center fixed; /* Stretch to fit */
/*  background-size:185%;*/
  /*background-color: black;/*rgba(43, 12, 43, 1);*/
  background-position: -50px -100px;
/*  background-attachment:fixed;*/
  /*min-width: 1000px;
  max-width: 1300px;*/
  display: table-cell;
  vertical-align: middle;
  background-color: black;
  position: relative;

  /*margin: 0;
  padding:0;*/
}

/*img {
    width: 100%;
    height: auto;
}*/

header, footer {
    background-color: #0D0D0D;
    text-align: center;
    /*min-width: 500px;*/
    /*align-content: center;*/
  /*vertical-align: middle;*/
}

h2, p, .todo {
    margin: 0px 50px;
}

html, body {
    margin: auto;
    padding: auto;
  }

header h2{ /* Whimsically Creepy*/
    color: blanchedalmond;
    font-family: "Homemade Apple", sans-serif;
    position: relative;
    padding-right: 1fr;
    background-color: rgba(43, 12, 43, 0);
}

h1, h2, p, html {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    background-color: rgba(43, 12, 43, 0.0);
}

h1 {
    /*font: none none bold 24/2;*/
    font-family: "wildwood", sans-serif;
    font-size: 24px;
}

h2 {
    font-size: 25px;
    letter-spacing: .3em;
    background-color: rgba(43, 12, 43 , 0.0);
    margin:0;
    padding-left: 50px;
    padding-top: 20px;
    font-family: "Tulpen One", Helvetica, sans-serif;
    text-transform: uppercase;

}

p , span, .todo{
    font-size: 14px;
    line-height: 1.75em;
    padding: 5px 50px;
    padding-bottom: 20px;
    margin:0;
}

.center {
  /* text-align: center; */
  margin: auto;
  max-width: 900px;
}

#open-quote, #close-quote {
  font-size: 3em;
  font-family: "Fredericka the Great", sans-serif;
  width: 50px;
  filter: invert(100%);
}

#close-quote {
  float: right;
}

#story {
  margin: 0 10px;
  text-align: justify;
  line-height: 2em;
  font-size: 16px;
  padding: 0 100px;
}

#story::first-letter {
  font-family: "Fredericka the Great", Serif;
  font-size: 3em;
}

.quote-story {
  margin: 0 50px;
  padding: 25px 0 70px 0;
  background-color:rgba(26, 7, 26, 0.9);
  position: relative;
  bottom: 50px;
  z-index: 0;
}

.overlap {
  position: relative;
  text-shadow: 3px 3px 3px #d191db;
  z-index: 20;
}

textarea {
    background-color: black;
    color: antiquewhite;
    padding: 15px;
}



/***** FOOTER *****/

.edit-by {
  margin-left: 50px;
  float: left;
}

/* figure {

} */

footer {
  background-color: rgba(30, 10, 30 , 0.9);
  z-index: 10;
  margin: 0;
  padding: 0; 
  width: 100%;
  position: relative;
  border-top: solid 1px #3c1642;
  display: block;
}

figure img {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

footer span {
    position: absolute;
    vertical-align: middle;
    padding: 15px;
    
}


.social-media {
    filter: invert(100%);
    float: right;
}

.social-media a {
  padding: 10px;
}

.social-media a img {
  width: 40px;
  height: auto;
  position: relative;
  top: 5px;
}

/***** LINKS *****/

a, a:visited {
  color: antiquewhite;
  text-decoration: none;
  }

a:hover {
  color: #d9043d;
}

.todo {
  margin: 0;
  padding-bottom: 50px;
  border-bottom: 2px antique-white;
  padding-left: 0;
}

ul input {
  margin: 0px 10px;
}

.submit, .submit-box {
  position: relative;
/*  align-self: center;*/
  margin: 15px 0;
  text-align: center;
/*  vertical-align: middle;*/
}

.submit-box {
  margin-top: 50px;
}

/***** IMAGES *****/
.betty-img, .manda-img {
  height: auto;
  max-width:250px;
  display: block;
  position: relative;
}

.betty-img {
  margin-right: 50px;
  margin-left: 20px;
  float: right;
}

.manda-img {
  float: left;
  margin-right: 20px;
  margin-left: 50px;
}

.about-me {
  display: block;
}

.manda, .betty{
  display: block;
  width: 900px;
  min-height: 300px;
  text-align: justify;
}

.betty {
    padding-bottom: 50px;
}

.podcast-embed {
  margin: auto;
  display: block;
  position: relative;
  width: 650px;
  height: 100px;
  padding-bottom: 10px;
  padding-top: 10px
}

.podcast {
  border: solid 1px grey;
  width: 750px;
  margin: auto;
  margin-top: 50px;
}

.podcast a, header h1 a {
  color: #D9043D;
}

.podcast a:hover, .title a:hover {
  color: white;
}

.merch-list {
  text-align: center;
  text-justify: 
}

.construction {
    margin: auto;
    display: block;
}

/***** FONTS *****/

@font-face {
    font-family: "wildwood";
    src: url("https://www.wfonts.com/download/data/2016/03/01/wildwood/JFWilwod.ttf") format("truetype");
    src: url("../fonts/JFWilwod.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} /*Wildwood*/

@font-face {
    font-family: "bosque-encantado";
    src: url("https://dl.dafont.com/dl/?f=bosque_encantado")
    src: url("..fonts/BosqueEncantado.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} /*Bosque*/

@font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
/*    font-display: swap;*/
    src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v9/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--Sjxbc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } /*Fredericka the Great*/

@font-face { 
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
/*    font-display: swap;*/
    src: local('Homemade Apple Regular'), local('HomemadeApple-Regular'), url(https://fonts.gstatic.com/s/homemadeapple/v10/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }/*Homemade Apple*/

@font-face {
  font-family: 'Tulpen One';
  font-style: normal;
  font-weight: 400;
/*  font-display: swap;*/
  src: local('Tulpen One'), local('TulpenOne-Regular'), url(https://fonts.gstatic.com/s/tulpenone/v9/dFa6ZfeC474skLgesc0Cajo6_Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} /*Tulpen One*/

em {
  font-style: italic;
}