nav {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
    position: relative;
    margin: 0;
    padding: 5px 5px;
    width: auto;
    background-color: #D9043D;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
   word-spacing: 2em;
}

header {
    background-color: #0D0D0D;
    background-image: url("../images/NT\ Banner\ 1600x400.png");
    border-bottom: 1px solid #000;
    position: relative;
    width: 100%;
    z-index: 10;
    margin: 0;
    padding: 10px;
}

header h2{ /* Whimsically Creepy*/
    color: blanchedalmond;
    font-family: "Homemade Apple", sans-serif;
    float: right;
}
h1, h2, p {
    font-family: Calibri;
}

h1 {
    /*font: none none bold 24/2;*/
    font-family: "wildwood", sans-serif;
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 12px;
}

footer figure {
    display: inline-block;
}

@font-face {
    font-family: "wildwood";
    src: url("https://www.wfonts.com/download/data/2016/03/01/wildwood/JFWilwod.ttf") format("truetype");
    src: url("../fonts/JFWilwod.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "bosque-encantado";
    src: url("https://dl.dafont.com/dl/?f=bosque_encantado")
    src: url("..fonts/BosqueEncantado.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v9/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--Sjxbc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Homemade Apple Regular'), local('HomemadeApple-Regular'), url(https://fonts.gstatic.com/s/homemadeapple/v10/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.title {
    font-family: "Fredericka the Great", sans-serif;
    font-size: 48px;
    color: #D9043D;
}